<!doctype html>

<html lang="en">

<head>
  <title>Earl manages URLs</title>
  <meta charset="utf-8">
  <meta name="description" content="Earl bookmark manager">

  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">

  <link rel="icon" type="image/png" href="static/favicon/favicon.ico">
</head>

<body>

  <!-- .container is main centered wrapper -->
  <div class="container">

    <div class="row">
      <div class="12 columns">
        <h2>Earl <i>is managing your URLs</i></h2>
      </div>
    </div>

    <form>
      <div class="row">
        <div class="twelve columns">
          <label for="search">Search</label>
          <input autofocus class="u-full-width" type="search" placeholder="" id="search">
        </div>
      </div>
    </form>

    <form action="/add" method="POST">
      <div class="row">
        <div class="twelve columns">
          <label for="addMark">New Bookmark</label>
          <input class="u-full-width" type="text" placeholder="" id="addMark" name="url">
        </div>
      </div>

      <div class="row">
        <div class="six columns">
          <label for="addTags">Tags <i>(comma-separated)</i></label>
          <input class="u-full-width" type="text" placeholder="" id="addTags" name="tags">
        </div>

        <div class="six columns">
          <label for="addComment">Comment</label>
          <input class="u-full-width" type="text" placeholder="" id="addComment" name="comment">
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <input class="button-primary" type="submit" value="Submit">
        </div>
      </div>
    </form>

    <div class="row">
      <div class="twelve columns">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>URL</th>
              <th>Tags</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            {{ range . }}
            <tr>
              <td><a href="{{.ID}}">{{.ID}}</a></td>
              <td>
                  {{ range .Tags }}
                  "{{.}}" &nbsp;
                  {{ end }}
              </td>
              <td>
                {{.Comment}}
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>


  </div>

</body>

</html>