<!doctype html>

<html lang="en">
<head>
  <title>Earl manages URLs</title>
  <meta charset="utf-8">
  <meta name="description" content="Earl bookmark manager">

  <link rel="stylesheet" href="static/web/static/css/normalize.css">
  <link rel="stylesheet" href="static/web/static/css/skeleton.css">

  <link rel="icon" type="image/png" href="static/web/static/favicon/favicon.ico">
</head>

<body>
  <p>
    <ul>
      {{ range . }}
      <li><a href="{{.ID}}">{{.ID}}</a></li>
      {{ end }}
    </ul>
  </p>
</body>
</html>